

:root{
  --font-family-lecker: url(../assets/fonts/Leckerli_One/LeckerliOne-Regular.ttf);
  --font-lecker-logo:  normal 40px/auto var(--font-family-lecker);
  
  --font-family-baloo:"Baloo 2", sans-serif;
  --font-heading-md: bold 28px/auto var(--font-family-baloo);
  --font-heading-sm: bold 18px/auto var(--font-family-baloo);

  --font-family-open: "Open Sans", sans-serif;
  --body-md: normal 12px/auto var(--font-family-open);
  --body-sm: normal 14px/auto var(--font-family-open);
  --body-xs: normal 12px/auto var(--font-family-open);

  --font-family-dancin: "Dancing Script", cursive;
  --dancin-logo: normal 40px/auto var(--font-family-dancin);

}

.logo{
      h1{
        font-family: var(--font-family-dancin);
        font-size: 60px;
        color: var(--pink);
        font-weight: 400px;
        text-transform: capitalize;
       
      }

     p{
        font-family: var(--body-sm); 
        color: var(--text-heading);
        font-weight:50;
      }
      img{
        width: 45.8px; 
        align-items: flex-start;
      }
      
      }